<!--Portfolio-->
<div class="container-fluid bg-white" id="portfolio">
    <div class="portfolio-header">
        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod pariatur, excepturi veritatis sit vitae vel qui
            esse ad soluta, nobis perferendis dolores, mollitia quos? Perspiciatis magni nihil ullam dolores voluptate.
        </p>
    </div>

    <div class="portfolio-body">

        <div class="card-1 col-4" style="width: 18rem;">
            <img class="card-img-top" src="./../website/assets/img/big-project-image.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui distinctio soluta, sit suscipit libero repudiandae odio pariatur nisi recusandae nihil, quas, voluptate eius quaerat laborum nemo! Optio, labore! Neque, aliquid.</p>
            </div>
        </div>

        <div class="card-2 col-4" style="width: 18rem;">
            <img class="card-img-top" src="./../website/assets/img/big-project-image.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae modi mollitia labore saepe quibusdam eum illo, nulla, autem placeat quod magni, ab aliquid et iure incidunt velit molestias. Quas, sint.</p>
            </div>
        </div>

        <div class="card-3 col-4" style="width: 18rem;">
            <img class="card-img-top" src="./../website/assets/img/big-project-image.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error rerum tempore, eveniet ducimus sit facilis qui voluptate debitis, neque nulla ullam itaque voluptas perspiciatis fuga consequatur soluta repellendus, ab doloribus.</p>
            </div>
        </div>
    </div>
</div>