<!-- Services 
<p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p> -->

<div id="services">
    <div class="container-fluid col-auto" id="services-photo">
        <img class="rounded-circle" src="./../website/assets/img/2.jpg" alt="img">
    </div>

    <div class="info-services col-8">
        <h1>The Second Heading Is pretty Cool Too.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit in quasi sed a tenetur natus minus ut quisquam illum, voluptatum nisi perferendis laborum laudantium quod ratione ipsam debitis nihil et!</p>
    </div>
</div>